{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bullet Journal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bullet_journal/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

    {% block extra_head %}{% endblock %}
</head>
<body>

<header>
    <a href="{% url 'home' %}" class="logo"> 
    <!---a class="logo"--->
        <img src="{% static 'bullet_journal/images/logo1.png' %}" alt="Logo" class="logo-img">
    </a>
    <nav>
        <ul class="nav-links">
            <li><a href="{% url 'calendar' %}">Calendario</a></li>
            <li><a href="{% url 'to_do_list' %}">To do list</a></li>
            <li><a href="{% url 'journal_list' %}">Bullet Journal</a></li>
            <li><a href="{% url 'stadistics' %}">Estadísticas</a></li>
            <li class="menuperfil">
            {% if user.is_authenticated %}
                <a>Hola {{ user.username }}</a>
                <ul class="menuperfil-content">
                    <li><a href="#">Mi perfil</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Cerrar sesión</button>
                        </form>
                    </li>
                </ul>
                {% else %}
                    <a href="{% url 'login' %}">Incia sesión</a>
            {% endif %}
            
        </li>
    </nav>
</header>

<main>
    {% block subtitulo %}{% endblock %}
    {% block contenido %}{% endblock %}
</main>

</body>
</html>
