{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bullet Journal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bullet_journal/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    {% block extra_head %}{% endblock %}
</head>
<body>

<header>
    <a href="home.html" class="logo">
        <img src="{% static 'bullet_journal/images/logo.png' %}" alt="Logo" class="logo-img">
    </a>
    <nav>
        <ul class="nav-links">
            <li><a href="#">Calendario</a></li>
            <li><a href="#">To do list</a></li>
            <li><a href="#">Bullet Journal</a></li>
            <li><a href="#">Estadísticas</a></li>
            <li><a href="#">Hola Luisi</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block subtitulo %}{% endblock %}
    {% block contenido %}{% endblock %}
</main>

</body>
</html>
